beautifulsoup4==4.9.3
bokeh==2.2.3
cachetools==4.2.1
colorthief==0.2.1
colorutils==0.3.0
cvlib==0.2.6
fuzzywuzzy==0.18.0
imutils==0.5.4
instaloader==4.6.2
Keras==2.4.3
matplotlib==3.3.3
numpy==1.19.5
opencv-python==4.5.1.48
pandas==1.2.3
Pillow==8.1.0
Proxy-List-Scrapper==0.2.1
random-user-agent==1.0.1
rasterfairy==1.0.6
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
Scrapy==2.4.1
seaborn==0.11.1
sklearn==0.0
urllib3==1.26.4